@font-face {
    font-family: 'alma_monobold';
    src: url('../assets/almamono-bold-webfont.woff2') format('woff2'),
         url('../assets/almamono-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'alma_monolight';
    src: url('../assets/almamono-light-webfont.woff2') format('woff2'),
         url('../assets/almamono-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'alma_monoregular';
    src: url('../assets/almamono-regular-webfont.woff2') format('woff2'),
         url('../assets/almamono-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

*{
  margin: 0;
  padding: 0;
}

body{
  background-color: #F7F7F7;
}

.span-color{
  color: #1E5124;
}

.header{
  z-index: 1;
  position: fixed;
  top: 0px;
  height: 80px;
  width: 100%;
  background-color: #FFFFFF;
  border-bottom: 2px solid #c9c9c9;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 6px 0px rgba(0,0,0,0.19);
}

    .header img {
      max-height: 60px;
      max-width: 60px;
    }

    .header span { display: none; }

.header.min {
    display: flex;
    align-items: center;
    padding-left: 15px;
    justify-content: initial;
    height: 60px;
    position: fixed;
    top: 0;
}
    .header.min img {
        max-height: 40px;
        max-width: 40px;
    }
    .header.min span {
        display: block;
        margin-left: 15px;
        font-family: "alma_monobold";
        color: #000000;
        font-size: 16px;
        padding-top: 4px;
    }
    .header a { text-decoration: none; }

.phrase{
  margin: 135px 0px 35px 0px;
  font-family: "alma_monobold";
  color: #000000;
  font-size: 36px;
  text-align: center;
}

.body{
  max-width: 960px;
  margin: 0px auto 50px auto;
}

.clearfix {
  content: "";
  display: table;
  clear: both;
}

.body--title{
  font-family: 'alma_monoregular';
  font-size: 12px;
}

.body--grid{
  margin-bottom: 100px;
}

.grid--row{
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.grid--row:not(:first-child){
  margin-top: 30px;
}

.grid{
  width: 250px;
  height: 300px;
  background-color: white;
  float: left;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.grid::after {
  content: "";
  border-radius: 5px;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  opacity: 0;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.grid:hover {
  -webkit-transform: scale(1.05, 1.05);
  transform: scale(1.05, 1.05);
}

.grid:hover::after{
  opacity: 1;
}

.grid--img{
  height: 240px;
  width: 250px;
  background-repeat: no-repeat;
  background-size: 250px 240px;
  border-radius: 5px 5px 0 0;
}

.grid--info{
  padding: 10px 10px;
  height: 60px;
  width: 100%;
  border-radius: 0 0 5px 5px;
}

.grid--info-h4{
  font-family: 'alma_monobold';
  font-size: 10px;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  max-width: 200px;
  text-overflow: ellipsis;
  color: black;
}

.grid--info h6{
  font-family: 'alma_monoregular';
  font-size: 14px;
  color: #797979;
  diplay: inline;
}

.grid--info h5{
  color: #1E5124;
  float: right;
  font-family: 'alma_monobold';
  text-align: center;
  margin-right: 20px;
  margin-top: 3px;
}

.grid--info h5 span{
  font-size: 9px;
  color: black;
}

.popover-wrapper.show {
    position: fixed;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    left: 0;
    top: 0;
    background-color: rgba(216, 216, 216, 0.8);
    z-index: 2;
}

.popover-wrapper {
    display: none;
}

.no-url{
  margin-top: 20px;
    font-family: 'alma_monobold';
    font-size: 36px;
    text-align: center;
}

.popover-content {
    width: 50%;
    height: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    border-radius: 5px;
}

    .popover-top {
        width: 100%;
        height: 470px;
    }

    .popover-header {
        width: 100%;
    }

    .popover-header img {
        display: inline-block;
        width: 10%;
        margin-top: 5px;
    }

    .popover-header hr {
        display: inline-block;
        width: 39%;
        margin-top: 30px;
        border-left: 0px;
        border-right: 0px;
        vertical-align: top;
        margin-left: 3%;
        margin-right: 3%;
        border-top: solid 1px #c9c9c9;
        border-bottom: none;
    }
    .popover-bottom {
        width: 100%;
        text-align: center;
        height: 30px;
        border-top: 1px solid #c9c9c9;;
    }

    #error-msg {
        display: block;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        padding-top: 70px;
        vertical-align: top;
        font-family: "alma_monobold";
        font-size: 36px;
        text-align: center;
    }

    #sad-dog {
        display: block;
        width: 30%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 35px;
    }

    #close, #cheer-up {
        border: none;
        background-color: transparent;
        margin-top: 7px;
        color: black;
        font-family: 'alma_monobold';
        font-size: 10px;
    }
    #close:hover { cursor: pointer; color: #358B3D; }
    #cheer-up:hover { cursor: pointer; color: #358B3D; }
    #close-wrap { font-family: 'alma_monobold'; font-size: 10px; }

    .team { display: none; }
